* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  /* it will surely make problem in the future... to be inspected. */
  flex-shrink: 0;
}

body {
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Open Sans', Arial, Helvetica, sans-serif, 'Museo Sans';
  color: #1d2028;
  font-weight: 300;
  line-height: 1.4rem;
}

@media (max-width: 25em) {
  body {
    font-size: 12px;
  }
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}
