* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  /* it will surely make problem in the future... to be inspected. */
  flex-shrink: 0;
}

body {
  cursor: default;
  font-family: 'Museo Sans', 'Open Sans', Arial, Helvetica, sans-serif;
  color: #1d2028;
  font-weight: 300;
  line-height: 1.4rem;
}

@media (max-width: 25em) {
  body {
    font-size: 10px;
    background: pink;
  }
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}
